/* Common styling for whole website */
body {
    background-image: url("/images/fabric.png");
    font-family: Consolas, monaco, monospace;
    color: #222;
}

a {
    text-decoration: none;
}

/* Navigation bar */
#navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/images/tweed.png");*/
    width: 250px;
    padding-top: 25px;
    text-shadow: 1px 1px 0 #222;
    font-size: 18px;
}

#navbar .item-name {
    padding-left: 2px;
}

#navbar .menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#navbar #my-image {
    padding-bottom: 25px;
    margin: 10px;
}

#navbar #my-image .my-image-circle {
    border-radius: 50%;
    width: 100px;
}

#navbar a {
    color: #222;
}

#navbar a:hover {
    color: #d3d3d3;
}

/* Main right side content */
#main {
    padding: 0 40px;
    overflow: scroll;
    margin-left: 100px;
    margin-top: 50px;
    max-width: 800px;
}

/* Footer for copyright */
footer {
    padding: 30px 40px;
    margin-left: 100px;
}
