<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <% include navigationbar.ejs %>

        <div id="main">
            <h1>Cats</h1>

            <div id="cats-container">
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa gives me company when I am working</div>
                    <div><img class="cat-pic" src="/images/zsazsaBehindLaptop.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa stretches since she hunts a lot and gets her exercising done</div>
                    <div><img class="cat-pic" src="/images/zsazsaStretching.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa is cold since it was single digit outside</div>
                    <div><img class="cat-pic" src="/images/zsazsaBlanket.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa likes to steal my chair whenever she gets a chance</div>
                    <div><img class="cat-pic" src="/images/zsazsaChair.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa is so beautiful</div>
                    <div><img class="cat-pic" src="/images/zsazsaSidePose.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa is so pretty and innocent looking</div>
                    <div><img class="cat-pic" src="/images/zsazsaCloseup.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa doesn't want me to leave her</div>
                    <div><img class="cat-pic" src="/images/zsazsaSuitcase.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Ernest Hemingway's Cats in Ernest Hemingway Home and Museum in Key West, FL</div>
                    <div><img class="cat-pic" src="/images/ernestHemingwayCats.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">Zsa Zsa is wondering if she can fit in the Mail Holder</div>
                    <div><img class="cat-pic" src="/images/zsazsaMailHolder.png"></div>
                </div>
                <div class="cat-image">
                    <div class="cat-image-title">My girl-friend's parent's cat: Googarum</div>
                    <div><img class="cat-pic" src="/images/gfParentsCat.png"></div>
                </div>
            </div>
        </div>

        <% include footer.ejs %>

        <!-- Include jquery from a CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Add custom index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>
