<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <% include navigationbar.ejs %>

        <div id="main">
            <h1>COURSES</h1>

            <!-- Wolfram Research work -->
            <h3>Massive open online course (MOOC)</h3>
            <h4>Udemy, Udacity, Codecademy and Coursera</h4>
            <ul>
                <li>Using Modern JavaScript Today</li>
                <li>The Complete Node.js Developer Course (2nd Edition)</li>
                <li>The Complete JavaScript Course: Build a Real-World Project</li>
                <li>JavaScript: Understanding the Weird Parts</li>
                <li>Accelerated JavaScript Training</li>
                <li>Mastering CSS</li>
                <li>Learn HTML5 Programming From Scratch</li>
                <li>Bootstrap 3, HTML5 & CSS3: Create a Modern Youtube Homepage</li>
                <li>HTML and CSS for Beginners - Build a Website & Launch ONLINE</li>
                <li>Build Your First Website in 1 Week with HTML5 and CSS3</li>
                <li>Introduction to CSS Development</li>
                <li>Object-Oriented JavaScript</li>
                <li>Software Testing</li>
                <li>JavaScript Design Patterns</li>
                <li>Vue JS: From Beginner to Professional</li>
            </ul>

            <!-- Citrix Systems work -->
            <h3>University of Illinois at Urbana-Champaign Courses</h3>
            <h4>Relevant courses taken while pursuing B.S. and M.S.</h4>

            <ul>
                <li>Digital Signal Processing</li>
                <li>Probability with Engineering Applications</li>
                <li>Intro to Computing Systems</li>
                <li>Computer Architecture</li>
                <li>Data Structures and Programming Principles</li>
                <li>Database Systems</li>
                <li>Embedded Systems</li>
                <li>Systems Programming</li>
            </ul>
        </div>

        <% include footer.ejs %>

        <!-- Include jquery from a CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Add custom index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>
