<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <% include navigationbar.ejs %>

        <div id="main">
            <div id="head">
                <h1>Experience</h1>
            </div>

            <p>My experience ...</p>
        </div>

        <% include footer.ejs %>

        <!-- Include jquery from a CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Add custom index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>








