<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <% include navigationbar.ejs %>

        <div id="main">
            <h1>Experience</h1>

            <!-- Wolfram Research work -->
            <h3>Wolfram Research</h3>
            <div class="company-work-info">
                <p>Software Engineer</p>
                <p>March 2015 - Present</p>
                <p>Remote</p>
            </div>

            <ul>
                <li>Wolfram License Manager - WolframLM</li>
                    <ul>
                        <li>Lead developer and software architect (team of 2); wrote 21,000+ lines of code</li>
                        <li>Developed the next generation of license manager application</li>
                    </ul>
                <li>Authentication and User Management System - AuthBox</li>
                    <ul>
                        <li>Lead developer (team of 4); wrote 16000+ lines of code</li>
                        <li>Developed a system to authenticate and manage users for various products of the company</li>
                    </ul>
                <li>Enterprise Resource Planning - ERP System</li>
                    <ul>
                        <li>Created database schema model</li>
                        <li>Providing technical support and assistance</li>
                    </ul>
                <li>Web Applications</li>
                    <ul>
                        <li>Order Processing</li>
                        <li>Licensing Solution and Processing</li>
                    </ul>
            </ul>

            <ul>
                <li>Proactive and Leadership Role</li>
                    <ul>
                        <li>Wrote documentation whenever necessary so that the whole team can benefit from it such as software design document template, Git tutorial and etc</li>
                        <li>Introduced the code-reviews, software development life cycle, importance of writing software design documentation to the team</li>
                        <li>Taught the team tools whenever necessary and needed such as CMake, Git and etc</li>
                        <li>Taught the team professional and best practices of coding style for C, C++, RESTful API architecture and etc</li>
                        <li>Assisted group members with issues such as building a library, compilation errors, linking libraries and etc</li>
                        <li>Assisted new hires with tools, technologies, best practices, development flow and etc</li>
                    </ul>
            </ul>

            <p><strong>Keywords</strong>: ZeroMQ Multi-Threaded Server; Command Line Tool; Test-Harness Tool; Object-Oriented Design; RESTful Interface; Unit-Testing; Logging-Framework; Software Design Document; Ported From Mac OS X to CentOS 6.8; Installer Packaged as tarball; Daemon Process; Static Linking; Test Doubles; JavaScript; Vue.js; HTML; SASS; Gulp</p>
            <p><strong>Technologies used</strong>: C; C++ (C++11 and Boost library); JavaScript (Vue.js); HTML; CSS (SASS); Python; Shell Programming; ZeroMQ; MongoDB; CMake; GDB; Valgrind; Git; CentOS; Jira; Bitbucket; Trello; MySQL Workbench</p>

            <!-- Citrix Systems work -->
            <h3>Citrix Systems, Inc.</h3>
            <div class="company-work-info">
                <p>Software Engineer</p>
                <p>August 2013 - February 2015</p>
                <p>Champaign, IL</p>
            </div>

            <ul>
                <li>Worked on HTTP Live Streaming (HLS) protocol; programmed different tools to support HLS</li>
                <li>Worked on the Fusion project and delivered results to the customers</li>
                <li>Refactored the code to follow the object-oriented programming design</li>
                <li>Developed scripts in Perl to analyze the logs from the customers</li>
                <li>Ported unit tests to Google unit-test framework (googletest)</li>
            </ul>

            <p><strong>Keywords</strong>: HTTP; Object-Oriented Design; Scripting; Multi-Threaded</p>
            <p><strong>Technologies used</strong>: C++; Perl; Shell programming; Wireshark; Hex Editor; Perforce</p>

            <!-- Cazoodle work -->
            <h3>Cazoodle, Inc.</h3>
            <div class="company-work-info">
                <p>Software Developer Intern</p>
                <p>January 2013 - May 2013</p>
                <p>Champaign, IL</p>
            </div>

            <ul>
                <li>Provided hardware and software maintenance of the servers</li>
                <li>Developed internal and external web-application tools for Grant Forward Project</li>
                <li>Performed statistical analysis of data using Python and maintained updated documentation about the servers</li>
            </ul>

            <p><strong>Keywords</strong>: Hardware maintenance; Web-Development; Statistical Analysis; Documentation</p>
            <p><strong>Technologies used</strong>: Python; JavaScript (jQuery); HTML; CSS; Git</p>
        </div>

        <% include footer.ejs %>

        <!-- Include jquery from a CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Add custom index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>
