<meta charset="UTF-8">

<!-- Force latest IE rendering engine -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="application-name" content="Personal Website">
<meta name="description" content="Deep Aggarwal's personal website; portfolio">
<meta name="keywords" content="HTML,CSS,personal,website,portfolio,Node.js,Express.js">
<meta name="author" content="Deep Aggarwal">
<title>Deep Aggarwal</title>

<!-- Mobile-optimize this site -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Include CSS libraries: bootstrap, font-awesome, normalize from a CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<!-- Add custom CSS file -->
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
