<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <% include navigationbar.ejs %>

        <div id="main">
            <h1>Deep Aggarwal</h1>

            <!-- Summary about me -->
            <h2>About</h2>
            <p>
                I am currently a software engineer at <a class="right-pane-link" href="http://www.wolfram.com/" target="_blank">Wolfram Research</a>.
            </p>
            <p>
                Previously, I worked as a software engineer at <a class="right-pane-link" href="https://www.citrix.com/" target="_blank">Citrix Systems</a>. Before that, I was a software developer intern at <a class="right-pane-link" href="http://www.cazoodle.com/" target="blank">Cazoodle</a>.
            </p>
            <p>
                I am a very enthusiastic and dedicated programmer; it comes from my passion and the enjoyment for learning new things, building new tools and having fun while doing it. I am a fast-learner of new technology and have proven this in my professional work experience. I code for fun-and-learning in my free time; see my work on <a class="right-pane-link" href="/projects">my projects page</a>.
            </p>
            <p>
                In my free time, I enjoy exercising at the gym, playing Soccer, Racquetball, Ping-Pong and Badminton. I also enjoy spending time with my cute little cat <a class="right-pane-link" href="/cats">Zsa-Zsa</a>.
            </p>
            <div>
                <strong>Work Experience</strong>: 3.5+ years<br>
                <strong>Methodologies</strong>: Agile (Scrum), Waterfall<br>
                <strong>Project Management Applications</strong>: Podio, Jira, Trello<br>
                <strong>Platforms</strong>: Linux, Mac OS X, Solaris<br>
                <strong>Work Status</strong>: H-1B Work Visa
            </div>

            <!-- My education information -->
            <h2>Education</h2>
            <h4>University of Illinois at Urbana-Champaign</h4>
            <ul>
                <li>M.S.; Electrical and Computer Engineering [2011 - 2013]; Grade: 3.54/4.00</li>
                <li>B.S.; Electrical and Computer Engineering [2008 - 2011]; Grade: 3.47/4.00</li>
            </ul>

            <!-- Books I have read in past years -->
            <h2>Books Read</h2>
            <p>
                These are the books I have read since 2013:
            <p>
            <ul>
                <li>
                    An Introduction to GCC: For the GNU Compilers GCC and G++&nbsp
                    <a class="right-pane-link" href="https://www.amazon.com/Introduction-GCC-GNU-Compilers/dp/0954161793" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    C++ Primer Plus (6th Edition) (Developer's Library)&nbsp
                    <a class="right-pane-link" href="https://www.amazon.com/Primer-Plus-6th-Developers-Library/dp/0321776402" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    The C Programming Language, 2nd Edition&nbsp
                    <a class="right-pane-link" href="https://www.amazon.com/Programming-Language-Brian-W-Kernighan/dp/0131103628" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Effective Python: 59 Specific Ways to Write Better Python&nbsp
                    <a class="right-pane-link" href="https://www.amazon.com/Effective-Python-Specific-Software-Development/dp/0134034287" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Effective C++: 55 Specific Ways to Improve Your Programs and Designs&nbsp
                    <a class="right-pane-link" href="https://www.amazon.com/Effective-Specific-Improve-Programs-Designs/dp/0321334876" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    Effective JavaScript: 68 Specific Ways to Harness the Power of JavaScript (Currently Reading)&nbsp
                    <a class="right-pane-link" href="https://www.amazon.com/Effective-JavaScript-Specific-Software-Development/dp/0321812182" target="_blank">
                        <i class="fa fa-external-link" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

            <!-- My resume -->
            <h2>Resume</h2>
            <p>
                Download my resume from here:
                <a class="right-pane-link" href="/resume" target="_blank">
                    <i class="fa fa-download" aria-hidden="true"></i>
                </a>
            </p>

            <!-- My contact information -->
            <h2>Contact Information</h2>
            <div>
                Send me an email at <a class="right-pane-link" href="mailto:deep.uiuc@gmail.com">Deep Aggarwal</a><br>
                Highland Park, IL 60035<br>
                USA
            </div>
        </div>

        <% include footer.ejs %>

        <!-- Include jquery from a CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Add custom index.js script -->
        <script type="text/javascript" src="/jsfiles/index.js"></script>
    </body>
</html>
