<div id="navbar">
    <div id="my-image">
        <a href="/"><img class="my-image-circle" src="/images/me.png"></a>
    </div>
    <div id="navigation-menu">
        <a class="menu-item" href="/">
            <i class="fa fa-home"></i>
            <div class="item-name">home</div>
        </a>
        <a class="menu-item" href="/experience">
            <i class="fa fa-clock-o"></i>
            <div class="item-name">experience</div>
        </a>
        <a class="menu-item" href="/projects">
            <i class="fa fa-code"></i>
            <div class="item-name">projects</div>
        </a>
        <a class="menu-item" href="/resume">
            <i class="fa fa-file-text-o"></i>
            <div class="item-name">resume</div>
        </a>
        <a class="menu-item" href="/cats">
            <i class="fa fa-paw"></i>
            <div class="item-name">cats</div>
        </a>
        <a class="menu-item" href="https://github.com/deep4788" target="_blank">
            <i class="fa fa-github-alt"></i>
            <div class="item-name">github</div>
        </a>
        <a class="menu-item" href="https://twitter.com/Deep4788" target="_blank">
            <i class="fa fa-twitter"></i>
            <div class="item-name">twitter</div>
        </a>
        <a class="menu-item" href="https://www.linkedin.com/in/deep-aggarwal-957a3a37" target="_blank">
            <i class="fa fa-linkedin"></i>
            <div class="item-name">linkedin</div>
        </a>
    </div>
</div>
